<navbar></navbar>
<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Temas Selectos de Optimización</h1>
        <p class="lead">Knapsack</p>
        <img src="assets/images/fime_logo.gif">
        <img src="assets/images/uanl_logo.gif">
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Objetos:</h1>
        </div>
    </div>
    <div class="form-inline">
        <div class="input-group col-md-8 col-md-offset-3">
            <div>
                <label>Tipo estantes: </label>
                <input ng-model="ws.volumenChecked[0].check" ng-change="ws.checkVol(0)" ng-value="true" type="radio" name="optradio"> <img width="100px" height="100px" src="assets/images/Caja1.jpg" alt="">
                <input ng-model="ws.volumenChecked[1].check" ng-change="ws.checkVol(1)" ng-value="true" type="radio" name="optradio"> <img width="100px" height="100px" src="/" alt="">
                <input ng-model="ws.volumenChecked[2].check" ng-change="ws.checkVol(2)" ng-value="true" type="radio" name="optradio"> <img width="100px" height="100px" src="/" alt="">
                <input ng-model="ws.volumenChecked[3].check" ng-change="ws.checkVol(3)" ng-value="true" type="radio" name="optradio"> <img width="100px" height="100px" src="/" alt="">
                <input ng-model="ws.volumenChecked[4].check" ng-change="ws.checkVol(4)" ng-value="true" type="radio" name="optradio"> <img width="100px" height="100px" src="/" alt="">
            </div>
        </div>
    </div>
    <button type="button" ng-class="ws.objetos.length > 5 ? 'enabled':'disabled'" ng-click="ws.optimizarEspacio()" class="btn btn-primary">Optimizar Estante</button>
    </form>
    <br>
    <br>
    <table ng-if="ws.objetos.length > 0" class="table table-striped table-hover table-bordered col-md-5">
        <thead>
            <tr>
                <th>Productos</th>
            </tr>
        </thead>
        <tbody>
            <tr class="col-md-6" ng-repeat="n in ws.objetos" data-ng-click="ws.editarElementos($index)">
                <td style="width:0.01%;text-align:center;vertical-align:middle;">
                    <input ng-model="n.Checked" type="checkbox" name="" value="">
                </td>
                <td class="col-md-2">
                    <img class="img-thumbnail" width="100px" height="100px" src="assets/images/Caja1.jpg" alt="Image">
                    <ul>
                        <li>Altura:{{n.Altura}} </li>
                        <li>Largo: {{n.Largo}}</li>
                        <li>Ancho: {{n.Ancho}}</li>
                        <li>Volumen en cm&sup3;: {{n.Volumen}}</li>
                        <li>Beneficio en MXN: {{n.Beneficio}}</li>
                    </ul>
                    <div class="form-inline ">
                        <label style="font-size:10px;">Cantidad Max. de Objetos</label>
                        <input ng-model="n.MenorA" style="width:15%;" class="form-control" type="number" name="" value="">
                        <label style="font-size:10px;">Cantidad Min. de objetos</label>
                        <input ng-model="n.MayorA" style="width:15%;" class="form-control" type="number" name="" value="">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
<!--     <table class="table table-condesed">
        <thead>
            <tr>
                <th>Caja1</th>
                <th>Caja2</th>
                <th>Caja3</th>
                <th>Caja4</th>
                <th>Caja5</th>
                <th>Caja6</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="n in ws.solutions">
                <td>{{n.Caja1}}</td>
                <td>{{n.Caja2}}</td>
                <td>{{n.Caja3}}</td>
                <td>{{n.Caja4}}</td>
                <td>{{n.Caja5}}</td>
                <td>{{n.Caja6}}</td>
            </tr>
        </tbody>
    </table> -->
</div>
<footer></footer>
